<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project activeEnvironment="Default environment" name="Google Maps" resourceRoot="${projectDir}" soapui-version="4.5.2" id="5b8acef7-85c5-42c1-924a-59e53e9a04d4" lastOpened="2016-10-19T10:13:09.522+11:00" defaultScriptLanguage="Groovy" scriptLibrary="" xmlns:con="http://eviware.com/soapui/config"><con:description>Sample Google Map project
</con:description><con:settings><con:setting id="5b8acef7-85c5-42c1-924a-59e53e9a04d4fileName">Google-Maps-soapui-project</con:setting></con:settings><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>https://github.com/kadaparthi/Test</con:repositoryIdentifier></con:vcsConfiguration><con:requirements/><con:properties><con:property><con:name>PlacesAPIKey</con:name><con:value>AIzaSyBxSOkcEGHEtbZzxxIieetwOelBx24A5u8</con:value></con:property></con:properties><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:sensitiveInformation/><con:authRepository/><con:tags/></con:soapui-project>