<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" wadlVersion="http://wadl.dev.java.net/2009/02" name="Distance Matrix API" type="rest" basePath="" id="c01f60d6-68bb-49fd-bf01-7b85cfabdebb" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c01f60d6-68bb-49fd-bf01-7b85cfabdebbfileName">Distance-Matrix-API</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://maps.googleapis.com</con:endpoint></con:endpoints></con:interface>