<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" wadlVersion="http://wadl.dev.java.net/2009/02" name="Places API" type="rest" basePath="/maps/api/place" id="9ddbe330-2e50-4f80-8f4d-b05adfd64a0f" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="9ddbe330-2e50-4f80-8f4d-b05adfd64a0ffileName">Places-API</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://maps.googleapis.com</con:endpoint></con:endpoints></con:interface>